
@model IEnumerable<WebEnterprise_2.Models.ViewModel.SubReport>
@{
    ViewBag.Title = "ManagerPost";
    
}

<h2>ManagerPost</h2>

<div id="list" class="tab-pane">
    <div class="panel panel-success">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Student</th>
                <th>Tutor</th>
                <th>Comment</th>
                    
            </tr>
            </thead>
            <tbody>
            @foreach (var Item in Model)
            {
                <tr>
                    <td>@Item.Id</td>
                    <td>@Item.StudentId</td>
                    <td>@Item.TutorId</td>
                    <td>@Item.Comments</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>