@model WebEnterprise_2.Models.Feedback
@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>FeedBack</label>
        @Html.TextAreaFor(model => model.Feedback1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Student</label>
        @Html.DropDownList("TutorId", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-danger">Submit</button>
    </div>
}
